@import '_variables';

@mixin all-buttons-inputs {
    border-radius: 5%;
    background-color: $card-background-color;
    border: none;
}

@mixin all-cards {
    border-radius: 3%;
    opacity: 90%;
    height: 25em;
    width: 30%;
    min-width: 15em;
    margin: 1%;
    background-color: $card-background-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@mixin titles {
    font-size: 2em;
    font-weight: 800;
}
