@import '_variables';

@mixin all-buttons {
    border-radius: 5%;
    background-color: $highlight-one;
}

@mixin all-cards {
    border-radius: 5%;
    opacity: 90%;
    height: 25em;
    width: 30%;
    margin: 10px;
    background-color: $card-background-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin titles {
    font-size: 2em;
    font-weight: 800;
}
