/* This is an example of using Sass, otherwise plain CSS works too*/
$primary-background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
;

body {
  // background: $primary-background;
  display: flex;
  flex-direction: row;
  height: 100%;
}

//~~~~~~~~~~~~~~ Sidebar Styling ~~~~~~~~~~~//

.sidebar {
  background-color: aquamarine;
  height: 90em;
  width: 30%;
  display: flex;
  flex-direction: column;
}


//~~~~~~~~~~~~~~~ Main Section Styling ~~~~~~~//

// .user.bookings {
//   background-color:;
// }

//~~~~~~~~~~~~~~~ Card Styling ~~~~~~~~~~~~~//

.room-card {
  background-color: grey;
  // background-opacity: 70%; 
}


//~~~~~~~~~~~ Login Styling ~~~~~~~~~~~~~//

.login-form-section {
  height: 30em;
  width: 70%;
  background-color: grey;
}